<div class="row">
  <div class="span12">
    <%= pluralize(@likes.count, 'block') %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <% if @faces %>
      <ul class="thumbnails">
        <% @faces.each do |face| %>
          <li class="span1">
              <img class="thumbnail" height="50" width="50" src="<%= face["face_url"] %>"/>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

