<div class="row">
  <div class="span3">
    <button class="btn btn-mini btn-primary" id="like"><img src="http://s3.amazonaws.com/ragefaces/fed47e7ffa874d01b771474d2eef1a60.png" style="width:1em; height: 1em;"/></button>
    <%= pluralize(@likes.count, 'block') %>
  </div>
</div>

