<div class="row">
  <div class="span12">
    <h1>Photo</h1>
  </div>
</div>
<div class="row center">
  <div class="span12">
    <div class="btn-group">
      <a class="btn" href="<%= @prev %>"><i class="icon-chevron-left"></i></a>
      <a class="btn" href="<%= @next %>"><i class="icon-chevron-right"></i></a>
    </div>
  </div>
</div>
<div class="well row">
  <div class="span12"><img class="thumbnail" src="<%= @photo %>"/></div>
</div>



