<!DOCTYPE HTML>
<html>
<head>
<style type="text/css">
  body {
    font-family: "Helvetica", sans;
    font-size: 12px;
    color: #5c97e6;
  }

  #like {
  }
  #likebox {
    border: 1px solid #5c97e6;
  }
</style>
</head>
<body>
  <%= yield %>
</body>
</html>
